<p id="notice"><%= notice %></p>
<script>
  $("#person-modal").hide();
</script>

<div id="view-info">
  <h2>People Index View</h2> 
  <button id="add-button">
  <%= link_to '+ Add New Person', new_person_path, remote: true %></button>
</div>

<div id="person-modal" class="modal"></div>  
  <table>
  <thead>
    <tr>
        <td>Name</td>
			<td>Address</td>
			<td>Phone</td>
			<td>Email_address</td>
			<td>About</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody class="person-index">
      <%= render "index" %>
    </tbody>
  </table>
</div>
