<p id="notice"><%= notice %></p>
<script>
  $("#post-modal").hide();
</script>

<div id="view-info">
  <h2>Posts Index View</h2> 
  <button id="add-button">
  <%= link_to '+ Add New Post', new_post_path, remote: true %></button>
</div>

<div id="post-modal" class="modal"></div>  
  <table>
  <thead>
    <tr>
        <td>Subject</td>
			<td>Content</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody class="post-index">
      <%= render "index" %>
    </tbody>
  </table>
</div>
